<div class="container">
  <div class="row">
    <div class="col-lg-3"style="background-color: #dcdcdc;">
      <h3>商品新規登録</h3>
      <%= form_with model: @item, url: admin_items_path, method: :post do |f| %>
    </div>
    
    
    <div class="col-lg-12 col-md-10">
      <div class="mb-3">
        <%= f.label :商品画像, class:"col-4 form-label text-left" %>
        <%= f.file_field :image, accept: "image/*" %>
      </div>
      <div class="mb-3">
        <%= f.label :商品名, class:"col-4 form-label text-left" %>
        <%= f.text_field :name, placeholder: "商品名", size: "30x20" %>
      </div>
      <div class="mb-3">
        <%= f.label :商品説明, class:"col-4 form-label text-left" %>
        <%= f.text_area :item_description, size: "30x5", placeholder: "ここに説明文を記述します" %>
      </div>
      <div class="mb-3">
        <%= f.label :ジャンル, class:"col-4 form-label text-left" %>
        <%= f.collection_select :genre_id, Genre.all, :id, :name, include_blank: "--選択してください--" %>
      </div>
      <div class="mb-3">
        <%= f.label :税抜価格, class:"col-4 form-label text-left" %>
        <%= f.text_field :price, placeholder:"1000", size: "30x20" %> 円</td>
      </div>
      <div class="mb-3">
        <%= f.label :販売ステータス, class:"col-4 form-label text-left" %>
        <%= f.radio_button :is_active, "true" %>販売中
        <%= f.radio_button :is_active, "false" %>販売停止中
      </div>
    </div>
    
    <%= f.submit '新規登録', class:"btn btn-success" %>
    <% end %>
  </div>
</div>