<div class="container">
  <div class="row">
    <div class="col-lg-3 px-sm-0 offset-sm-1"style="background-color: #dcdcdc;">
      <h3>商品新規登録</h3>
      <%= form_with model: @item, url: admin_items_path, method: :post do |f| %>
    </div>
    
    <div class="col-md-6 offset-md-3">
      <table class="table">
        <tr>
          <th style="border:none;"><%= f.label :商品画像 %></th>
          <td style="border:none;"><%= f.file_field :image, accept: "image/*" %></td>
        </tr>
        <tr>
          <th style="border:none;"><%= f.label :商品名 %></th>
          <td style="border:none;"><%= f.text_field :name, placeholder: "商品名", size: "30x20" %></td>
        </tr>
        <tr>
          <th style="border:none;"><%= f.label :商品説明 %></th>
          <td style="border:none;"><%= f.text_area :item_description, size: "30x5", placeholder: "ここに説明文を記述します" %></td>
        <tr>
        <tr>
          <th style="border:none;"><%= f.label :ジャンル %></th>
          <td style="border:none;"><%= f.collection_select :genre_id, Genre.all, :id, :name, include_blank: "--選択してください--" %></td>
        </tr>
        <tr>
          <th style="border:none;"><%= f.label :税抜価格 %></th>
          <td style="border:none;"><%= f.text_field :price, placeholder:"1000", size: "30x20" %> 円</td>
        </tr>
        <tr>
          <th style="border:none;"><%= f.label :販売ステータス %></th>
          <td style="border:none;"><%= f.radio_button :is_active, "true" %>販売中
          <%= f.radio_button :is_active, "false" %>販売停止中</td>
        </tr>
      </table>
      <div class="col d-flex justify-content-center">
        <%= f.submit '新規登録', class:"btn btn-success center" %>
      </div>
    </div>
      <% end %>
  </div>
</div>