<div class ="container">
  <div class ="row p-5">
    <div class = "col-lg-8">
      <%= image_tag @item.get_image(500,500) %>
    </div>

    <div class = "col-lg-4">
      <h4><strong><%= @item.name %></strong></h4>
        <h5><%= @item.item_description %></h5>
      <h5><strong>¥<%= @item.with_tax_price %></strong>(税込)</h5>

      <%= form_with model: @cart_item, url:cart_items_path, method: :post, local: true do |f| %>
        <%= f.hidden_field :item_id, value: @item.id  %>
        <%= f.select :amount, *[1..9], { prompt: '個数選択' }, required: true %>
        <%= f.submit 'カートに入れる', class:"btn btn-success" %>
      <% end %>
    </div>
  </div>
</div>